a{
  color:black !important;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding:20px;
  max-width: 400px;
  margin: 10px auto;

}
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(15, 173, 107);
  box-shadow: 0 1px 0 0  rgb(15, 173, 107);
}

h5,h2{
  text-align: center;

}
.gallery{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around

}
.item{
  width:30%;
  
}

.home-card{
  max-width:550px;
  height:max-content;
  margin:26px auto;
}
#toast-container{
  top:30px !important;
  right:20px !important;
  left:auto !important;
}
.Profile{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search {
  
  margin: 15px 0;
}